@charset "UTF-8";

body {
	background:  no-repeat url("/images/background.jpg") ;
	background-position: -60px -400px;
}

.container {
	max-width: 800px;
	margin-left: 4rem;
	height: 100vh;
	background-color: #fff;
}	