@charset "UTF-8";

body {
	background:  no-repeat url("/images/background.jpg") ;
	background-position: -10px -400px;
	
}

.container-fluid {
	max-width: 800px;
	height: 100vh;
	margin-top: 5rem;	
}

.card {
	border-radius: 1rem;
}