<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de Tarefa</title>
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<main class="container-fluid p-3">
		<form action="" method="post">
			<div>
				<label>Descricao</label>
				<input type="text">
			</div>
			
			<div>
				<label>Data</label>
				<input type="date">
			</div>
			
			<div>
				<label>Categoria</label>
				<select>
					<option>Categorias</option>
					<option>Categorias</option>
					<option>Categorias</option>
					<option>Categorias</option>
				</select>
			</div>
		</form>
	</main>

	<script src="/js/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>