<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TSS TodoList</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<main class="container">
		<div class="row h-100">
			<div class="sidebar col col-md-4 d-flex flex-column p-3">
				<span>Tarefas e compromissos</span>
				<hr>
				<ul class="nav nav-pills d-flex flex-column mb-auto">
					<li class="nav-item">
						<a href="#" class="nav-link active"	aria-current="page">
							Home
						</a>
					</li>
				</ul>
			</div>
			
			<div class="content col col-md-8 p-3">
				<div class="grid todo-container" style="--bs-columns: 3;">
					<div class="category-title">
						<h2>Titulo da categoria</h2>
						<span>Segunda-feira, 27 de fevereiro</span>
					</div>
					<div class="todo-list">
						<h2>Lista de tarefas</h2>
						<ul>
							<li>
								<div class="d-flex ">
									<input type="radio" />
									<div>
										<span>Descricao</span>
										<span>Categoria</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		 
	 	
	</main>
	
	<script src="/js/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>