<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TSS TodoList</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<main class="container">
		<div class="content">
			<aside class="side">
				<nav class="nav flex-column">
				  <a class="nav-link" href="#">Meu dia</a>
				  <a class="nav-link" href="#">Urgente</a>
				  <a class="nav-link" href="#">Tarefa</a>
				  <a class="nav-link" href="#">Lazer</a>
				  <a class="nav-link" href="#">Família</a>
				  <a class="nav-link" href="#">Trabalho</a>
				</nav>
			</aside>
			<section class="todo-detail">
				<div>
					<section class="todo-title">
						<div class="d-flex flex-column">
							<span>Meu dia</span>
							<span>Segunda-feira, Fevereiro 28</span>
						</div>
					</section>
					<section class="todo-resume">
						<div>
							<input type="radio" >
							<div>
								<span>Titulo todo</span>
								<p>Descricao do todo</p>
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>	 	
	</main>
	
	<script src="/js/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>