<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<title>TSS TodoList</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<main class="container">
		<div class="row content">
			<section class="col-sm-4">
				<div class="list-group gap-2">
				  <a href="/" class="list-group-item list-group-item-action active" aria-current="true">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">Meu dia</h5>
				      <img class="btn" alt="urgente" src="/images/sun.svg">
				    </div>
				    <p class="mb-1">Tarefas do dia</p>
				  </a>
				  
				  <a href="/category/urgente" class="list-group-item list-group-item-action" aria-current="true">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">Urgente</h5>
				      <img class="btn" alt="urgente" src="/images/patch-exclamation.svg">
				    </div>
				    <p class="mb-1">Consulta médica, comprar remédios...</p>
				  </a>				  
				  
				  <a href="/category/tarefa" class="list-group-item list-group-item-action " aria-current="true">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">Tarefa</h5>
				      <img class="btn" alt="urgente" src="/images/card-checklist.svg">
				    </div>
				    <p class="mb-1">(Jogar lixo fora, sair com o pet...).</p>
				  </a>
				  
				  <a href="/category/lazer" class="list-group-item list-group-item-action " aria-current="true">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">Lazer</h5>
				      <img class="btn" alt="urgente" src="/images/controller.svg">
				    </div>
				    <p class="mb-1">Jogar CS, Praia, Show...</p>
				  </a>
				  
				  <a href="/category/familia" class="list-group-item list-group-item-action " aria-current="true">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">Família</h5>
				      <img class="btn" alt="urgente" src="/images/chat-square-heart.svg">
				    </div>
				    <p class="mb-1">Almoço na sogra, Parque com as crianças...</p>
				  </a>
				  
				  <a href="#" class="list-group-item list-group-item-action " aria-current="true">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">Trabalho</h5>
				      <img class="btn" alt="urgente" src="/images/cash-coin.svg">
				    </div>
				    <p class="mb-1">Entregar, Reunião, Ligar pro líder...</p>
				  </a>
				</div>
			</section>
			<section class=" col-sm-8">
				<div class="card">
				  <div class="card-header p-3 bg-primary text-light d-flex justify-content-between align-items-center">
				    <h4>Tarefas e Compromissos</h4>
				    <h5 th:text="${#temporals.format(localDate, 'dd/MM/yyyy')}">02/02/2022</h5>
				  </div>
				  <div class="card-body" >

				    <div class="table-responsive">
						<table class="table table-hover" th:unless="${#lists.isEmpty(selecaoTodos)}">
							<thead>
							    <tr>
							      <th class="text-center col-md-1" scope="col">#</th>
							      <th scope="col">Descrição</th>
							      <th class="text-center col-md-2" scope="col">Data</th>
							      <th class="text-center col-md-2" scope="col">Categoria</th>
							      <th class="text-center col-md-2" scope="col">Situação</th>
							      <th class="text-center col-md-2" scope="col">A</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each="todo : ${selecaoTodos}">
							      <th class="text-center" scope="row" th:text="${todo.id}">1</th>
							      <td th:text="${todo.descricao}">Descrição 1</td>
							      <td th:text="${{todo.dataHoraMarcada}}" class="text-center">2/2/2022</td>
							      <td class="text-center" th:text="${todo.categoria.getDescricao()}">TODOS</td>						      
							      <td class="text-center">
							        <span class="badge" th:text="${todo.situacao}"
							        th:classappend="${todo.isPendente() ? 'bg-danger' : 'bg-success'}">Pendente</span>
							      </td>
							      <td class="text-center ">
							      	<a th:href="@{/finaliza/{id}(id=${todo.id})}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
										  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
										</svg>
							      	</a> 
							      	<a th:href="@{/altera/{id}(id=${todo.id})}">
							      		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
										  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
										</svg>
							      	</a>
							      	<a th:href="@{/apaga/{id}(id=${todo.id})}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
										  <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
										</svg>
							      	</a>
							      </td>
							    </tr>
							   
							  </tbody>					  
						</table>				    
				    </div>
				    
				    <div class="card-footer p-0 mt-3">
					    <a href="/cadastrar" class="btn btn-primary">
					    	<img class="btn " alt="urgente" src="/images/folder-plus.svg">
					    	<span>Cadastrar tarefa</span> 
					    </a>
				    </div>
				  </div>
				</div>
			</section>
		</div>	 	
	</main>
	
	<script src="/js/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>